<!-- Sidebar Component -->
<aside class="sidebar">
    <div class="sidebar-header">
        <img src="../assets/images/logo.png" alt="Logo Oficina Mecânica" class="logo">
        <h3>Oficina Mecânica</h3>
    </div>
    <nav class="sidebar-nav">
        <ul class="sidebar-menu">
            <li class="nav-item">
                <a href="../index.html" class="nav-link">
                    <i class="fas fa-home"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="../pages/clientes.html" class="nav-link">
                    <i class="fas fa-users"></i>
                    <span>Clientes</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="../pages/veiculos.html" class="nav-link">
                    <i class="fas fa-car"></i>
                    <span>Veículos</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="../pages/servicos.html" class="nav-link">
                    <i class="fas fa-tools"></i>
                    <span>Serviços</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="../pages/estoque.html" class="nav-link">
                    <i class="fas fa-boxes"></i>
                    <span>Estoque</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="../pages/vendas.html" class="nav-link">
                    <i class="fas fa-shopping-cart"></i>
                    <span>Vendas</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="../pages/notas-fiscais.html" class="nav-link">
                    <i class="fas fa-file-invoice"></i>
                    <span>Notas Fiscais</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="sidebar-footer">
        <a href="#" class="nav-link">
            <i class="fas fa-cog"></i>
            <span>Configurações</span>
        </a>
        <a href="#" class="nav-link">
            <i class="fas fa-sign-out-alt"></i>
            <span>Sair</span>
        </a>
    </div>
</aside>